.feinman {
  background: url(../../images/feynman.png) 867px 637px no-repeat;
  padding-top: 80px;
  background-position: bottom left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 790px;
  background-color: #f2f2f2;
  z-index: 1;
}
